/target
*.classpath
*.project
*.settings
*.swp
*.iml
.idea/
.idea/artifacts/lv_war_exploded.xml
.mymetadata
.settings
.classpath
.project
target
*.log
/logs
*/.mvn

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*/.DS_Store