<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.feel.mapper.FkArticleLabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mf.feel.model.FkArticleLabel">
        <id column="id" property="id"/>
        <result column="label_id" property="labelId"/>
        <result column="article_id" property="articleId"/>
    </resultMap>

</mapper>
